@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');


:root {
  --font-primary: 'DM Sans', system-ui, -apple-system, sans-serif;
  --font-headings: 'Fraunces', 'Georgia', serif;
}

body {
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.01em;
}

h1, h2, h3, h4 {
  font-family: var(--font-headings);
  font-weight: 600;
  /* letter-spacing: 0.02em; */
  color: var(--color-text);
}

.logo-text {
  font-family: var(--font-headings);
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: lowercase;
}